* {
  font-family: 'Raleway', sans-serif !important;
  font-size: $text-size;
}

.fa {
  font-family: FontAwesome !important;
}

h1 {
  font-size:24px;
  font-weight:bold;
  margin-bottom: $margin;
  color:$main-color;
}

h3 {
  font-size:$text-size;
  font-weight:bold;
}